<!DOCTYPE html>
<html>
  <head>
    <title>tekion-home-page</title>
  </head>
  <body>
        <div>
          <h3>Welcome to flask s3 upload</h3>
          <ol>
              <li>
                  <a href="file_upload"> click here to upload </a>
              </li>
              <li>
                 <a href="list"> click here to list uploads </a>
              </li>
              <li>
                 <a href="logout"> click to logout </a>
              </li>
          </ol>
        </div>
    </div>
  </body>
</html>
